@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', 'sans-serif';
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
  transform: scale(1);
}

.gradient-circle {
  background: conic-gradient(red, orange, yellow, green, blue);
  height: 320px;
  width: 320px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
}
